<!--轮播-->
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <a class="banner-one" href="javascript:;"></a>
        </div>
        <div class="item">
            <a class="banner-two" href="javascript:;"></a>
        </div>
        <div class="item">
            <a class="banner-three" href="javascript:;"></a>
        </div>
        <div class="item">
            <a class="banner-four" href="javascript:;"></a>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        <span class="prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">
        <span class="next"></span>
    </a>
</div>
<!--功能介绍-->

<div class="actionAll">
    <div class="actionContent"></div>

    <!-- action category -->

    <div class="SmallRadius actionCategoty1">
        <h4>微信点餐</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <div class="SmallRadius actionCategoty2">
        <h4>外卖点餐</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <div class="SmallRadius actionCategoty3">
        <h4>预定点餐</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <div class="SmallRadius SmallRadiusRight actionCategoty4">
        <h4>收银点餐</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <div class="SmallRadius SmallRadiusRight actionCategoty5">
        <h4>多门店管理</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <div class="SmallRadius SmallRadiusRight actionCategoty6">
        <h4>数据分析</h4>
        <span class="ProductIcon-dmd"></span>
    </div>

    <!-- action content -->

    <div class="BigRadius"></div>

</div>
<!--选项卡-->
<div class="container">
    <div class="share">
        <h1></h1>
        <p class="line">“我点餐”基于微信系统上的点餐平台，餐饮O2O平台的领导者。“我点餐”让你的餐饮店家喻户晓；</p>
        <p>“我点餐”帮助你解决宣传推广等问题，帮你改变传统点餐模式、节省成本，让你摆脱瓶颈，位居餐饮行业之首。</p>
    </div>
    <div>
        <ul class="nav nav-tabs" id="myTabs">
            <li class="active"><a href="#zc" data-toggle="tab">
                <i></i>中餐<small>ChineseFood</small>
            </a></li>
            <li><a href="#jl" data-toggle="tab">
                <i></i>酒楼<small>Boite</small>
            </a></li>
            <li><a href="#kc" data-toggle="tab">
                <i></i>快餐<small>FastFood</small>
            </a></li>
            <li><a href="#xc" data-toggle="tab">
                <i></i>小吃<small>Snack</small>
            </a></li>
            <li><a href="#yp" data-toggle="tab">
                <i></i>饮品<small>Brink</small>
            </a></li>
            <li><a href="#wm" data-toggle="tab">
                <i></i>外卖<small>Take-out</small>
            </a></li>
        </ul><div class="tab-content">
            <div class="tab-pane fade in active" id="zc">
                <div class="food-ma">
                    <img class="food" src="images/f1.jpg">
                    <div class="ma">
                        <img src="images/ma1.jpg">
                    </div>
                </div>
                <h3>【沂蒙水饺】一家在浙江义乌开了5、6年的老店</h3>
                <p><strong>业绩：</strong>沂蒙水饺使用”我点餐”一个月，粉丝量增加1000多位，外卖销量累计达到3万元，外卖订单量达1800个，线上总销量增长300%。沂蒙...</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="tab-pane fade feature" id="jl">
                <div class="food-ma">
                    <img class="food" src="images/f2.jpg">
                    <div class="ma">
                        <img src="images/ma2.jpg">
                    </div>
                </div>
                <h3>【杭州湾湘土人家酒楼】</h3>
                <p><strong>业绩：</strong>5月26日正式合作“我点餐”平台后，仅半个月时间线上日均订单量达45个，日均销量4200元，同时线下人气同样大涨，店内总销量比...</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="tab-pane fade" id="kc">
                <div class="food-ma">
                    <img class="food" src="images/f3.jpg">
                    <div class="ma">
                        <img src="images/ma3.jpg">
                    </div>
                </div>
                <h3>【悦宾饭店】</h3>
                <p><strong>业绩：</strong>悦宾饭店（微信号：悦宾饭店）一家注重养生、心系客户的快餐店！ 合作前客户坚持在微信公众平台上推送养生知识，深受粉丝的喜爱。一时间关...</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="tab-pane fade" id="xc">
                <div class="food-ma">
                    <img class="food" src="images/f4.jpg">
                    <div class="ma">
                        <img src="images/ma4.jpg">
                    </div>
                </div>
                <h3>【小味龙虾】</h3>
                <p><strong>业绩：</strong>小味龙虾（微信号：xiaoweilongxia)正宗小龙虾点的开心，吃的放心。描述：小味龙虾馆刚开业就开始使用“我点餐”，以纯正独...</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="tab-pane fade" id="yp">
                <div class="food-ma">
                    <img class="food" src="images/f5.jpg">
                    <div class="ma">
                        <img src="images/ma5.jpg">
                    </div>
                </div>
                <h3>精品咖啡iCaffe，用心感知生活</h3>
                <p><strong>业绩：</strong>业绩：使用我点餐系统1个月时间，仅线上订单成交量为179单，线上交易额超过1.2万。iCaffe微信号：i-Caffe    iC...</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="tab-pane fade" id="wm">
                <div class="food-ma">
                    <img class="food" src="images/f6.jpg">
                    <div class="ma">
                        <img src="images/ma6.jpg">
                    </div>
                </div>
                <h3>【优厨便当】从3单到80单的蜕变</h3>
                <p><strong>业绩：</strong>业绩：前一天只有3单，第二天80单，早上8点到中午12点盈利千元有余。优厨便当：创新、独特，极具特色！合作：优厨便当刚开业就选择“...</p>
                <a href="javascript:;">更多>></a>
            </div>
        </div>
    </div>
    <p class="link"><a href="javascript:;">立即体验</a></p>
</div>
<!--背景介绍图-->
<div class="big-bg">
</div>
<!--免费体验和最新动态-->
<div class="experience-dynamic">
    <div class="experience-line">
        <h1></h1>
    </div>
    <img src="images/experience-img.png">
    <p class="link"><a href="javascript:;">立即体验</a></p>
    <div class="dynamic-line">
        <h1></h1>
    </div>
    <div class="dynamic">
        <div class=" dy-con1">
            <img src="images/bot1.jpg">
            <div>
                <h4>“互联网+”行动计划，就应该这样玩！</h4>
                <p>十二届全国人大三次会议上，李克强总理首次提出“互联网+”行动计划。十八届中央委员会第五次全体会议，再次提出实施“互联网+”行动计划...</p>
                <a href="javascript:;">更多</a>
            </div>
        </div>
        <div class="dy-con2">
            <img src="images/bot2.png">
            <div>
                <h4>【干货】95后崛起，餐饮业应该这样做</h4>
                <p>95后成为现目前众多行业的“香饽饽”究其原因95后已成为或将成为消费主力军对其分析已有了精准数据▲95后当前重要的事由以上数据明显...</p>
                <a href="javascript:;">更多</a>
            </div>
        </div>
    </div>
</div>

<!--固定底部-->
<div class="fixed-footer">
    <div class="container">
        <div class="weixin">
            <p>微信马上扫，立即体验</p>
            <img src="images/footer-Qrcode.jpg">
        </div>
        <div class="rexian">
            <img src="images/FixedFooter-text.png">
        </div>
        <ul class="reg">
            <li>
                <input class="tel" type="text" placeholder="您的联系电话">
            </li>
            <li>
                <input class="name" type="text" placeholder="您的姓名">
                <input class="sub" type="submit" value="提交" class="btn btn-warning">
            </li>
        </ul>
        <a class="close" href="javascript:;" close>×</a>
    </div>
</div>
<div class="show" show></div>